hr {
  margin: 0;
  background: var(--azul-degrade);
}

.rodape {
  background-color: var(--branco);
  color: var(--azul);
  padding: 1.5em 2em;
}

.lista-rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-between;
    padding: 4em 4em;
  }

  .rodape__titulo {
    font-size: 24px;
  }

  .lista-rodape {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .lista-rodape__titulo {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--cinza);
  }

  .lista-rodape__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .lista-rodape__link {
    text-decoration: none;
    color: var(--preto);
  }

  .lista-rodape__link:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 1728px) {
  .rodape__titulo {
    flex: 1;
    text-align: center;
  }

  .lista-rodape {
    flex: 1;
    border-left: 1px solid var(--cinza);
    padding-left: 20px;
  }
}
